<h2>List of clients</h2>

<app-add-client (listClients)="showClients($event)"></app-add-client>
<br/>
<div *ngIf="clients.length == 0">
    There are no clients yet!!
</div>

<div *ngIf="clients">
    <article *ngFor="let client of clients">                
        <ul>
            <li>Id: {{client.id}} </li>
            <li> Name: {{client.name}} </li>
            <li> Group: {{client.group}} </li>
        </ul>   
        <button (click)="delete(client.id, client.name, client.group)" >Delete client</button><hr>
    </article>  
    <a routerLink="/" class="btn btn-info">Return Home</a>    
</div>